body {
    background: url(Images/frankie-lopez-YgquWrEYqOk-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.aside-item-logo {
    padding-right: .5rem;
    height: 2rem;
    width: auto;
}

.table-logo {
    height: 2.5rem;
    width: auto;
}

td.center-item, th.center-item {
    text-align: center;
}

.aside {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.main-content {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}

li {
    padding: 5px;
}